/*字符图标整合 start*/
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1520598517341'); /* IE9*/
  src: url('../font/iconfont.eot?t=1520598517341#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1520598517341') format('woff'),
  url('../font/iconfont.ttf?t=1520598517341') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1520598517341#iconfont') format('svg'); /* iOS 4.1- */
}
[class^="icon-"],[class*="icon-"], .reg .reg-bot a:after, .reglist form span:before, .login-code dl dd:before, .mods-cont .mc-tit b:before, .mods-telverify .mc-cont form span:before, .mods-pwdsus .mods-cont span:before, .login-account form .lg-bot small:before, .waring:before, .serform p:last-child:before, .adrs-form span:before, .uinfo .uif-tip span:before, .click_mct_btn:before, dl.yyda_top dt.yyda_t_right a:before, .mct_right .mctr_more span a:before, .network p:last-child b:after, .modhelp-box .yytit:before,.cart-tip span:before, .ct-send em:after,.sendiv dl dd p a:after,.csc-right em:after,.as-cont h3:before,.as-cont div span a:last-child:after,.cart-empty .ce-cont:before,.order-tip span:before,.consignee h3 span:after,.odcb-cont p:after,.order-addinfo  .odt:before,.form-invoice .fm-tit label:after,.form-invoice .fmi li:last-child:before,.cg-cont li:after,.oda-payul li ul>li:after,.deletepro .mods-cont span:before,.addfocus .mods-cont span:before,.form-invoice .fmi li .fmi-ct-send em:after,.odcb-cont p:first-child:before,.paym-wrap>.pw-cont p i:not(:last-child):after,.payment .paym-option li:before,.mods-alipay .mods-cont dl:before,.paysuccess .pays-top:before,.clearpro .mods-cont span:before,.user-benefit .swiper-wrapper .swiper-slide:before, .follow-tip:before, .sdcplist>a:after, .pn-levl label:before, .mmsec dl dt:before,.mods-getcash .mc-tit b:before, .mods-getcash .mc-cont form span:first-child:before, .myol-tit>span a:nth-child(3):after, .my-orderlist .cartc-tit div span:after, .my-orderlist>ul .odl-cont>.cdlc-consignee>div label:after, .my-orderlist>ul .odl-cont .odlc-state .logistics-tracking a:before, .my-orderlist>ul .odl-cont .odl-operate>em:before, a.btn-buyagain:before, .mods-cancel .macncel-top h5:first-child:before,.mods-cancel form span:after, .order-detail .ods-left p:before, .od-state .ods-left a.btn-cancel:before,.od-state .ods-right .odsr-stepul li .odsr-step>i:nth-child(2):after,.od-state .ods-right>p>a:before, .mods-sus .mods-cont span:before,.od-ecard>h5:before,.od-receipt dl.odr-refund dd:before,.od-receipt dl dd>a.pf-more:after,.channel-goodlist.fscenter>ul li>span a:before, .fscenter>p:before,.channel-goodlist.fscard>ul li>p>a:before,.fscard>p:before,.channel-cardlist.regulargoods>ul li>p a:before,.ab-top .abt-right span b:before,.ab-bot p.abb-tit span em:after,.mods-joinbag form span:before,.mods-bindcoupon form span:before,.od-empty:before,.mods-examine .mods-cont:before {
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before { content: "\e605"; }

.icon-wjx:before { content: "\e617"; }

.icon-by:before { content: "\e622"; }

.icon-yx:before { content: "\e67e"; }

.icon-b:before { content: "\e630"; }

.icon-check:before { content: "\e638"; }

.icon-cz:before { content: "\e6d9"; }

.icon-cart:before { content: "\e698"; }

.icon-qd:before { content: "\e69e"; }

.icon-dd:before { content: "\e6a2"; }

.icon-xjt:before { content: "\e6a6"; }

.icon-code:before { content: "\e6a9"; }

.icon-jf:before { content: "\e63f"; }

.icon-yp:before { content: "\e6bc"; }

.icon-tk:before { content: "\e633"; }

.icon-pay:before { content: "\e647"; }

.icon-password2:before { content: "\e6d2"; }

.icon-service2:before { content: "\e60e"; }

.icon-radio-on:before { content: "\e65d"; }

.icon-map:before { content: "\e715"; }

.icon-qx2:before { content: "\e6b5"; }

.icon-submit:before { content: "\e676"; }

.icon-arrow2:before { content: "\e65c"; }

.icon-ddwc:before { content: "\e64e"; }

.icon-sj:before { content: "\e72a"; }

.icon-xj:before { content: "\e63d"; }

.icon-certified:before { content: "\e658"; }

.icon-new:before { content: "\e611"; }

.icon-xjt2:before { content: "\e66b"; }

.icon-wx2:before { content: "\e695"; }

.icon-ewm:before { content: "\e655"; }

.icon-spbf:before { content: "\e654"; }

.icon-build:before { content: "\e662"; }

.icon-fx:before { content: "\e612"; }

.icon-one:before { content: "\e624"; }

.icon-two:before { content: "\e628"; }

.icon-enter:before { content: "\e6ba"; }

.icon-zt:before { content: "\e651"; }

.icon-sign:before { content: "\e602"; }

.icon-down:before { content: "\e705"; }

.icon-vip:before { content: "\e68b"; }

.icon-pj:before { content: "\e679"; }

.icon-quick:before { content: "\e601"; }

.icon-sd:before { content: "\e6b8"; }

.icon-xz:before { content: "\e652"; }

.icon-wxz:before { content: "\e653"; }

.icon-service:before { content: "\e61d"; }

.icon-kb:before { content: "\e639"; }

.icon-zfb:before { content: "\e61a"; }

.icon-gz2:before { content: "\e657"; }

.icon-calendar:before { content: "\e621"; }

.icon-finger:before { content: "\e631"; }

.icon-empty:before { content: "\e632"; }

.icon-evaluate:before { content: "\e63b"; }

.icon-xz2:before { content: "\e650"; }

.icon-address:before { content: "\e6c0"; }

.icon-th1:before { content: "\e793"; }

.icon-warning2:before { content: "\e670"; }

.icon-pay2:before { content: "\e675"; }

.icon-record:before { content: "\e60b"; }

.icon-runtop:before { content: "\e660"; }

.icon-fx2:before { content: "\e615"; }

.icon-qx:before { content: "\e6cc"; }

.icon-yuye:before { content: "\e636"; }

.icon-search:before { content: "\e61b"; }

.icon-dd1:before { content: "\e62b"; }

.icon-xys:before { content: "\e656"; }

.icon-ewm2:before { content: "\e745"; }

.icon-question:before { content: "\e672"; }

.icon-top:before { content: "\e8c6"; }

.icon-sz:before { content: "\e634"; }

.icon-order:before { content: "\e613"; }

.icon-yy:before { content: "\e680"; }

.icon-wx:before { content: "\e66a"; }

.icon-web:before { content: "\e6a7"; }

.icon-close:before { content: "\e7a3"; }

.icon-check-off:before { content: "\e60a"; }

.icon-check-on:before { content: "\e609"; }

.icon-sy:before { content: "\e60f"; }

.icon-customer:before { content: "\e8e8"; }

.icon-password:before { content: "\e7d3"; }

.icon-current:before { content: "\e8b7"; }

.icon-buy:before { content: "\e664"; }

.icon-Home:before { content: "\e687"; }

.icon-tilt:before { content: "\e618"; }

.icon-yh:before { content: "\e697"; }

.icon-arrow3:before { content: "\e6f5"; }

.icon-zp:before { content: "\e62d"; }

.icon-sucs:before { content: "\e62c"; }

.icon-security:before { content: "\e64f"; }

.icon-gz:before { content: "\e608"; }

.icon-more:before { content: "\e625"; }

.icon-warning:before { content: "\e637"; }

.icon-right2:before { content: "\e64c"; }

.icon-coupon:before { content: "\e6d1"; }

.icon-clock:before { content: "\e78b"; }

.icon-cg:before { content: "\e63c"; }

.icon-qq:before { content: "\e607"; }

.icon-card:before { content: "\e603"; }

.icon-close2:before { content: "\e627"; }

.icon-xiaoxi:before { content: "\e620"; }

.icon-user:before { content: "\e64b"; }

.icon-dn:before { content: "\e673"; }

.icon-sp:before { content: "\e63a"; }

.icon-upload:before { content: "\e629"; }

.icon-th:before { content: "\e65b"; }

.icon-success:before { content: "\e61f"; }

.icon-card3:before { content: "\e674"; }

.icon-login:before { content: "\e6b2"; }

.icon-shandian:before { content: "\e616"; }

.icon-xiayiye:before { content: "\e786"; }

.icon-left:before { content: "\e619"; }

.icon-oncheck:before { content: "\e600"; }

.icon-collect:before { content: "\e70f"; }

.icon-sh:before { content: "\e62a"; }

.icon-j:before { content: "\e635"; }

.icon-md:before { content: "\e62f"; }

.icon-wh:before { content: "\e725"; }

.icon-wxzf:before { content: "\e644"; }

.icon-refresh:before { content: "\e61e"; }

.icon-play:before { content: "\e61c"; }

.icon-ye:before { content: "\e614"; }

.icon-q:before { content: "\e623"; }

.icon-safe:before { content: "\e649"; }

.icon-ts:before { content: "\e626"; }

.icon-right:before { content: "\e7ac"; }

.icon-vip2:before { content: "\e604"; }

.icon-ps:before { content: "\e610"; }

.icon-car:before { content: "\e606"; }

.icon-open:before { content: "\e60c"; }

.icon-ck:before { content: "\e62e"; }

.icon-arrow:before { content: "\e60d"; }

.icon-sc:before { content: "\e63e"; }

.icon-gb:before { content: "\e685"; }

.icon-yf:before { content: "\e645"; }

.icon-cancel:before { content: "\e648"; }

.icon-radio:before { content: "\e64d"; }

.icon-dw:before { content: "\e696"; }

.icon-shengri1:before { content: "\e65a"; }

.icon-sjt-copy:before { content: "\e8e9"; }
/*字符图标整合 end*/
/*
* start
*/
.bg-lightgray{background:#f6f6f6;}
.bg-lightgray .footer {background:none;}
.btn-default {border:solid 1px #e0e0e0; background:#f5f5f5; color:#333; font-size: 14px; text-align:center;}
/*公用弹窗 begin*/
.modshade { position:fixed; z-index:103; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.5); }
.modshade .mods-cont {position:absolute; z-index:104; left:50%; top:50%; margin:0 auto; border-radius: 4px; background: #fff; border:solid 5px rgba(0,0,0,.3); overflow: hidden; text-align: left;}
.mc-cont .btn-default,
.mc-cont .btn { padding:8px 20px; border-radius:6px; margin-right:20px;}
.mods-cont .mc-tit { padding-left:15px; border-radius: 4px 4px 0 0; line-height: 40px; font-size: 14px; overflow: hidden; background:#e8e8e8;}
.mods-cont .mc-tit big {display:inline-block; float:left; font-size: 16px; font-weight:600;}
.mods-cont .mc-tit b {display:inline-block; float:left; color:#999;margin-left:15px;}
.mods-cont .mc-tit b i {margin: 0 5px;color:#333;}
.mods-cont .mc-tit b:before {display:inline-block; margin-right:5px; font-size:18px;}
.mods-cont .mc-tit .icon-gb {float:right; cursor:pointer; display:inline-block; line-height:20px; margin:10px; font-size: 18px;}
.mods-cont .icon-gb,.adv p .icon-gb {-moz-transition:transform .6s;-o-transition:transform .6s;-ms-transition:transform .6s;-webkit-transition:transform .6s;transition:transform .6s;}
.mods-cont .icon-gb:hover,.adv p .icon-gb:hover,.order-tip .icon-gb:hover {-moz-transform:rotateZ(360deg); -o-transform:rotateZ(360deg); -ms-transform:rotateZ(360deg); -webkit-transform:rotateZ(360deg); transform:rotateZ(360deg);}
/*渐现*/
@-webkit-keyframes bounceIn {0%, 60%, 75%, 90%, 100% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0; -webkit-transform: translate3d(0, -3000px, 0); }
  60% {opacity: 1; -webkit-transform: translate3d(0, 25px, 0); }
  75% {-webkit-transform: translate3d(0, -10px, 0); }
  90% {-webkit-transform: translate3d(0, 5px, 0); }
  100% {-webkit-transform: none;}}
@-moz-keyframes bounceIn {from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0; -moz-transform: translate3d(0, -3000px, 0); }
  60% {opacity: 1; -moz-transform: translate3d(0, 25px, 0); }
  75% {-moz-transform: translate3d(0, -10px, 0); }
  90% {-moz-transform: translate3d(0, 5px, 0); }
  100% {-moz-transform: none;}}
@-o-keyframes bounceIn {from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0; -o-transform: translate3d(0, -3000px, 0); }
  60% {opacity: 1; -o-transform: translate3d(0, 25px, 0); }
  75% {-o-transform: translate3d(0, -10px, 0); }
  90% {-o-transform: translate3d(0, 5px, 0); }
  100% {-o-transform: none;}}
@-ms-keyframes bounceIn {from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0; -ms-transform: translate3d(0, -3000px, 0); }
  60% {opacity: 1; -ms-transform: translate3d(0, 25px, 0); }
  75% {-ms-transform: translate3d(0, -10px, 0); }
  90% {-ms-transform: translate3d(0, 5px, 0); }
  100% {-ms-transform: none;}}
@keyframes bounceIn {from, 60%, 75%, 90%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
  0% {opacity: 0; transform: translate3d(0, -3000px, 0); }
  60% {opacity: 1; transform: translate3d(0, 25px, 0); }
  75% {transform: translate3d(0, -10px, 0); }
  90% {transform: translate3d(0, 5px, 0); }
  100% {transform: none;}}
.bounceIn,.modshade .mods-cont,.hide-body {-webkit-animation: bounceIn .8s; -moz-animation: bounceIn .8s; -o-animation: bounceIn .8s; -ms-animation: bounceIn .8s;animation: bounceIn .8s;}
/*公用弹窗 end*/
