/* 1. CSS Resets & Clearfix
********************************************************************************************
********************************************************************************************/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}

.clearfix{ display: inline-block;}  

html[xmlns] .clearfix { display: block;}  

* html .clearfix{ height: 1%;}  

.clearfix {display: block}  

.tranz,
img.attachment-service-thumb,
img.attachment-testi-thumb,
li.mp-staff img{-webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease; }

.mp-wrap{ margin:40px 0 0 0;}

.mp-wrap h1,
.mp-wrap h2,
.mp-wrap h3,
.mp-wrap h4,
.mp-wrap h5,
.mp-wrap h6,
.mp-wrap p,
.mp-wrap span{ margin:0 0 ; padding:0 0 ;}

.mp-wrap img{
	border:none;
	background:none;
	max-width:100% !important;
	-moz-box-shadow: none;
	-webkit-box-shadow:none;
	box-shadow:none ;
}

.mp-rad,
i.main,
a.mp-more,
ul.mp-staff-social li a{/*-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;*/}


/* 2. General
********************************************************************************************
********************************************************************************************/

.mp-wrap{ overflow:hidden; width:100%; display:block;}

.aq-block-aq_4_column_block .mp-wrap{width:114.2%; margin:0 -20px;}
.aq-block-aq_3_column_block .mp-wrap{width:110.2%; margin:0 -20px;}
.aq-block-aq_2_3_column_block .mp-wrap{width:105%; margin:0 -20px;}
.aq-block-aq_2_column_block .mp-wrap{width:106.7%; margin:0 -20px;}

.aq-block-aq_4_column_block .block_bg,
.aq-block-aq_3_column_block .block_bg,
.aq-block-aq_2_3_column_block .block_bg,
.aq-block-aq_2_column_block .block_bg{ display:none;}

ul.mpbox { overflow:hidden; width:100%; display:block;/*background:#000;*/}

.entry ul.mpbox{ margin:0 0 20px 0 !important;}

.mp-wrap ul.mpbox>li{ overflow:hidden; position:relative; float:left !important; display:block; margin:0 0 40px 0; padding:0 20px; /*background:#900; */}

ul.mpbox li .mp-inner{ margin:0 0 0 0; position:relative;}

/* columns */

ul.mpbox li{width:33.33%;}

ul.mpbox.col1 li{width:100%;}

ul.mpbox.col2 li{width:50%;}

ul.mpbox.col4 li{width:25%;}

ul.mpbox.col5 li{width:20%;}

ul.mpbox.col6 li{width:16.66%;}


/* boxed columns */

.boxed li .mp-inner{ background:#f9f9f9;  padding:35px;}


ul.mpbox.col5 li p,
ul.mpbox.col6 li p{ font-size:90% !important;}



/* 3. Services
********************************************************************************************
********************************************************************************************/

li.mp-services i.main{ display:block; overflow:hidden; text-align:center; padding:17px 15px; float:left; font-size:26px; width:60px; height:60px; position:absolute; top:0; left:0;-moz-border-radius: 50%;-khtml-border-radius: 50%;-webkit-border-radius: 50%;border-radius: 50%;}

li.mp-services:hover i.main{ padding:18px 17px; float:left; font-size:24px;}

img.attachment-service-thumb{ display:block; float:left; overflow:hidden; position:absolute; top:0; left:0;max-width:64px !important;}

li.mp-services:hover img.attachment-service-thumb{ opacity:.9;}

li.mp-services h3{ clear:none; overflow:hidden; padding:8px 0 5px 85px !important; margin:0 0 15px 0; min-height:70px; line-height:1.1 !important; position:relative;}

li.mp-services p{ margin:0 0 5px 0 !important; opacity:.7;}

a.mp-more { text-decoration:none; padding:7px 8px; line-height:1; margin:10px 0 0 0; float:right; display:inline-block; font-size:11px; opacity:0;}
li.mp-services:hover a.mp-more { opacity:1;}


/* classic layout */

.mpbox.classic li.mp-services{ text-align:center;}

.mpbox.classic li.mp-services i.main{ float:none; margin:0 auto 20px auto; position:relative; top:auto; left:auto;}

.mpbox.classic img.attachment-service-thumb{ float:none; margin:0 auto 15px auto; position:relative; top:auto; left:auto;}

.mpbox.classic li.mp-services h3{ padding:15px 0 0 0 !important;min-height:0;}


/* modern layout */

.mpbox.modern li.mp-services .mp-inner{ padding-left:85px;}

.mpbox.modern li.mp-services i.main{ position:absolute; top:5px; left:-85px}

.mpbox.modern img.attachment-service-thumb{ position:absolute; top:0; left:-85px;max-width:60px !important;}

.mpbox.modern li.mp-services h3{ padding:5px 0 5px 0 !important;min-height:0;}


/* modern boxed layout */

.mpbox.modern li.mp-services h3{overflow:visible;}

.mpbox.modern.boxed li.mp-services .mp-inner{ padding-left:110px; padding-top:28px; overflow:visible;}

.mpbox.modern.boxed img.attachment-service-thumb{ position:absolute; top:5px; left:-85px}





/* 4. testimonials
********************************************************************************************
********************************************************************************************/

.boxed li.mp-testimonials .mp-inner{ background: none !important;  padding:0 !important;}

.mp-testimonials{ position:relative;}

.mp-testimonials img{
	position:absolute;
	top:0;
	left:0;
	border:4px solid #eee;
	width:67px;
	z-index:1;
	-moz-border-radius: 70px;-khtml-border-radius:70px;-webkit-border-radius:70px;border-radius:70px;
}

.mp-testimonials .testi-inner{ margin:0 0 0 85px; position:relative; }

.mp-testimonials .testi-content{ padding:90px 35px 35px 35px; }

.mp-testimonials .testi-meta{ position:absolute; top:0; left:0; padding:25px 35px 0 35px;}

.mp-testimonials .testi-meta p{ opacity:.7; font-style:italic; font-size:85%;}

.mp-testimonials .testi-content:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 18px 25px 0;
	border-color: transparent #007bff transparent transparent;
    content: "";
	position:absolute;
	top:10px;
	left:-10px;
}

/* modern layout */

ul.mpbox.modern img{
	position:absolute;
	top: auto;
	bottom:10px;
	width:80px;
	border:6px solid #ddd;
	z-index:1;
}

ul.mpbox.modern .testi-content:before{	
	top: auto;
	left:10px;
	bottom:-25px;
}

ul.mpbox.modern .mp-testimonials .mp-inner{ padding:0 0 115px 0;}

ul.mpbox.modern .testi-inner{ margin:0 0 0 0;}

ul.mpbox.modern .testi-content{ padding:35px 35px 85px 80px; font-size:90%; position:relative; }

ul.mpbox.modern .testi-content p{line-height:2.1 !important; }

ul.mpbox.modern .testi-content:after{;content:''; width:20px; height:20px; position: absolute; top:42px; left:35px;background-image: url(../images/quote.png); }

ul.mpbox.modern .testi-meta {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left:auto;
	right:30px;
	top:auto;
	bottom:25px;
	padding-top:0;
}


/* clients layout */

ul.mpbox.clients img{
	position:relative;
	top:auto;
	left:auto;
	padding:0;
	width: auto;
	display:block;
	float:none;
	margin:0 auto;
	z-index:1;
	-moz-border-radius: 0px;-khtml-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;
	background:none;
	border:none;
}

ul.mpbox.clients li.mp-testimonials:hover img{ opacity:.8;}

ul.mpbox.clients .testi-content:before,
ul.mpbox.clients .testi-content{ display:none;}

ul.mpbox.clients .testi-inner{ margin:0 0 0 0; position:absolute; top:0; left:0; width:100%; height:100%}

ul.mpbox.clients .testi-meta{position:absolute; top:0; left:0; width:100%; height:100%; text-align:center; padding-top:30%; opacity:0; display:none;}

ul.mpbox.clients li.mp-testimonials:hover .testi-meta{ opacity:0;}

ul.mpbox.clients .testi-meta h4{font-size:20px;}




/* 5. staff
********************************************************************************************
********************************************************************************************/

.mpbox li.mp-staff{ text-align:center; position:relative; overflow:hidden;}

.mpbox li.mp-staff img{ margin:0 0 20px 0;}

.mpbox.boxed li.mp-staff img{  width:calc(100% + 70px);max-width:calc(100% + 70px) !important; margin:-35px -35px 30px -35px;}

.staff-meta p{ opacity:.7;}




/* social icons */

ul.mp-staff-social{ display:inline-block; text-align:center; overflow:hidden; margin:20px 0 0 0 !important;}

ul.mp-staff-social li{ float:left; clear:none !important; width:auto !important; line-height:1;}

ul.mp-staff-social li a{ font-size:16px; padding:8px; margin:0 3px 3px 0; line-height:1; display:block; width:34px; height:34px;}

ul.mp-staff-social li a:hover{ opacity:.7;}


/* simple layout */

ul.mpbox.simple  li.mp-staff img{ margin:0 0 0 0; position:relative; z-index:1;-webkit-backface-visibility: visible;}

ul.mpbox.simple.boxed  li.mp-staff img{ margin:-35px -35px -35px -35px;}

ul.mpbox.simple  li.mp-staff:hover img{ opacity:.1; z-index:0;}

ul.mpbox.simple .staff-meta{ position: absolute; left:0; bottom:55%; padding:10px 5%; width:100%;-webkit-backface-visibility: visible;}

ul.mpbox.simple ul.mp-staff-social{ position: absolute; top:50%; left:50%; width:115px; margin:0 0 0 -53px !important;-webkit-backface-visibility: visible;}

ul.mpbox.simple .staff-content{ display:none;}



/* 6. tooltips
********************************************************************************************
********************************************************************************************/	


div.tooltip {
	display:none;
	position:absolute;
	text-align:center;
	line-height:normal;
	z-index:100000;
	opacity:1;
	background:#333;
	color:#eee;
	-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;
}

div.tooltip p {
	padding:10px 15px;
	line-height:1.4 !important;
	border-radius:2px;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:none;
	max-width:250px;
	text-transform:capitalize;
	position:relative;
}
div.tooltip p:after {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
    bottom: -8px;
    content: "";
    position: absolute;
    left:50%;
	margin-left:-10px;
}




/* X. MOBILE SCREENS
********************************************************************************************
********************************************************************************************/


@media screen and (max-width: 1030px) {

.mpbox.modern li.mp-services .mp-inner {padding-left: 60px;}

.boxed li .mp-inner{ padding:20px;}

.mpbox.modern.boxed li.mp-services .mp-inner{ padding-left:80px;}

li.mp-services h3 {min-height: 55px;padding: 8px 0 5px 65px !important;}

.mpbox.modern li.mp-services i.main, .mpbox.modern img.attachment-service-thumb{ left:-64px;}

li.mp-services i.main {
    font-size: 20px;
    height: 45px;
    padding: 12px;
    width: 45px;
}

li.mp-services:hover i.main{ padding:12px; font-size:20px;}

img.attachment-service-thumb{ max-width:45px !important;}

ul.mpbox.col6 li{width:28.75%;}

}


@media screen and (max-width: 770px) {
	
ul.mpbox.modern .testi-content {font-size: 100%;}
ul.mpbox.modern .testi-content p {line-height: 1.9 !important;}
	
ul.mpbox.clients .testi-meta{ padding:25px 0 !important;}
ul.mpbox.clients .testi-meta h4{ font-size:13px !important;}

.mpbox.modern.boxed img.attachment-service-thumb {left: -60px; max-width:50px !important;}

.mp-testimonials .testi-inner { margin: 0 0 0 25px;}

img.attachment-testi-thumb {width: 50px;}

ul.mpbox.simple .staff-meta {
    bottom: 20px;
    padding: 20px 20px;
}

ul.mpbox.simple ul.mp-staff-social{ display:none;}
	
}

@media screen and (max-width: 740px) {
	
ul.mpbox {
    width: 100%;
}	
	

.mp-wrap ul.mpbox>li,
ul.mpbox.col1>li,
ul.mpbox.col2>li,
ul.mpbox.col4>li,
ul.mpbox.col5>li,
ul.mpbox.col6>li{
	width:100%;
	max-width:345px;
	float:none !important;
	clear:both;
	margin:0 auto 40px auto !important;
}	


ul.mpbox.modern .testi-content { padding: 25px 35px 80px 35px;}

ul.mpbox.modern .testi-content::after{ display:none;}

ul.mpbox.modern .testi-meta h4, ul.mpbox.modern .testi-meta p{ font-size:13px !important; line-height:1.4 !important;}


	
}