/* @containers
********************************************************************************************
********************************************************************************************/


.container,
.container_alt {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding:0 0;
  overflow:hidden;
}

.container_pad,
.aq_row{padding:0 20px;}

.container_alt{ overflow:visible; position:relative; padding:0 0;}

.aq_span12{ width:100% !important;}

/* @columns
********************************************************************************************
********************************************************************************************/

.onecol, .twocol, .threecol, .fourcol, .fivecol,.fifthcol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol,.warpbox {
  margin-left:0;
  float: left;
  min-height: 1px;
}

.foocol{
  margin:0 0 0 0 !important;
  min-height:1px;
  width:18.5%;
  padding: 0 0 0 3.5%;
  position:relative;
  height:100%;
  min-height:1px;
  float:left;
}

.foocol.first{
  width:26%;
  padding: 0 0 0 0;
}

.foocol.last{
}

/*sidebar*/
.fourcol{ width:33.8%; margin:0 0 0 0; padding:0 0;}


/*content*/
.eightcol{ margin:0 0 0 0; float:left; position:relative;}


#foliosidebar,
#foliocontent{ float:none; width:100%; padding:40px 0 0 0; display:block; overflow:hidden;}


/*
testing
.aq-block-aq_4_column_block,.aq-block-aq_3_column_block,.aq-block-aq_2_3_column_block,.aq-block-aq_2_column_block{background:#bbb; min-height:300px; box-shadow: -1px -2px 0 rgba(0, 0, 0, 0.2) inset;}*/


/* blocks fixes */

.builder .fourcol,
.builder .aq-block-aq_3_column_block,
.builder .eightcol,
.builder .aq-block-aq_2_3_column_block{ margin-top:0px !important;}


/* sidebar position */
.postbarLeft .eightcol,
.postbarLeft .aq-block-aq_2_3_column_block{ float: right !important}
.foliobarLeft #foliocontent{ float: right !important}

.postbarNone .eightcol,
.postbarNone .aq-block-aq_2_3_column_block{ width:100%;}

.postbarNone .entryhead iframe,
.foliobarNone iframe{ width:100%;}


.sixcol{width:50%}

.fourcol,
.aq-block-aq_3_column_block,
.eightcol,
.aq-block-aq_2_3_column_block{ margin:0 0 0 0; }

.first,
.aq-first {margin-left: 0px !important;}

.widgetable{ padding:0 0 0 0; margin:0 20px; overflow:hidden;}



/* @responsive mode
********************************************************************************************
********************************************************************************************/

@media screen and (max-width: 1555px) {

  .flexinside{top:130px;bottom:100px;}

  /*.mainflex img{max-width:120% !important; width:120% !important; margin-left:-10% !important;margin-right:-10% !important;}*/

}


@media screen and (max-width: 1205px) {

  .container,
  .container_alt{ padding:0 20px;}

  .text-full{ padding-left:20px !important;padding-right:20px !important;}

  .flexinside{margin: 0 0 0 0; max-width:600px; left:0;padding: 15px 25px;}

  .slider-menu { left:-1px; margin:0 0 0 0; width:101%; max-width:101%;bottom:-1px; padding:0 30px;}

  .slider-menu li{ padding: 10px 40px 10px 0; display:block; float:left;}

  .slider-menu li:last-child{padding:10px 0 10px 0;}

  .flex-control-nav { display:none;}

  .page-header img{ top:0;}

}


@media screen and (max-width: 1145px) {

  #header{ top:0;}

  .single-post #core {margin-top: 100px !important;}

  .flexinside{top:80px;}

  .page-header {padding: 180px 0 80px 0 !important;}

  .page-header img{ top:50px;}

}

/* iPad Landscape */
@media screen and (max-width: 1030px) {

  #navigation{margin-bottom:5px !important;}

  #main-nav > li > a{margin:0 6px;}

  li.menu-item-has-children>a:after{ content:''; position:absolute; right:4px; top:48%; width:3px; height:3px; background:#aaa;}

  .flexinside h1,
  .flexinside h2{ line-height:1.1 !important; font-size:30px !important;}

  .flexinside h3,
  .flexinside p{ font-size:100%;}

  .slider-menu li{ padding: 10px 10px 10px 0;float:left;margin: 0 10px 0 0;}

  .blogger div.classic-small .item_inn {
    font-size: 90%;
    line-height: 1.9;
    padding: 5px 30px 10px;
  }

  .blogger div.classic-small h3{ margin:5px 0;}

  .mainflex img{max-width:130% !important; width:130% !important; margin-left:-15% !important;margin-right:-15% !important;}


}

@media screen and (max-width: 905px){

  .folioslider .imgwrap,
  .folioslider .imgwrap img,
  .folioslider .item_inn{ width:100%; float:none;}

}

/*iPad Portrait */

@media screen and (max-width: 770px){

  #header{ position:relative; top:auto;}

  #titles,
  #header h1{ float:left;  width:80% !important;}

  .entry_item p, .entry_item ul {
    margin: 10px 0;
  }

  #content ul.products li.product, #content ul.products li.product {
    width: 48% !important;
    margin:0 0 40px 0 !important;
  }

  .page-header {padding: 80px 0 70px 0 !important;}

  .page-header img{ top:0;}

  .flexinside{ top:40px;}

  .flexinside h1,
  .flexinside h2,
  .flexinside h3,
  .flexinside h4{ font-size:20px !important; line-height:1.2 !important;}

  .flexinside p.meta_more,
  .flex-control-nav,
  #header ul.social-menu{ display:none;}

  #header ul.social-menu{ position:relative; top:auto; right:auto; text-align:center; width:100%; margin:30px 0 !important;}

  #header ul.social-menu li{ display:inline-block !important;float:none;}

  /* mobile menu */
  a#navtrigger,
  a#navtrigger-sec{ display:block !important;}

  .navhead{ position:relative;}

  #header a.searchSubmit { display: none;}

  #navigation{ display:none; position:relative; top:auto; margin:0 0 0 0 !important; padding:40px 0 40px 0 !important; background-color:#000 !important;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px; border-top: none !important; width:100%;}

  #navigation a{ color:#ddd !important}

  #header #main-nav{ width:100% !important; margin:0 0 0 0 !important; padding:0 0 0 0 !important;}

  ul#main-nav li,
  #main-nav li ul{ width:100% !important; background-color: transparent !important; border:none !important; float:none; display:block;margin:0 0 0 0 !important; position:relative !important; left:auto !important; display:block !important; visibility:visible !important; }

  #navigation #main-nav li ul li > a{ border-bottom:1px dotted #444 !important;}

  ul#main-nav li a{ width:100% !important; text-align:left; padding:17px 20px !important; margin:0 0 0 20px; font-size:16px !important;}

  #main-nav li a.sf-with-ul {padding-right: 0 !important;}

  #main-nav > li > a {margin: 0 0 0 0 !important;}

  #main-nav > li > ul > li,
  #main-nav li ul ul li,
  #main-nav li ul li > a,
  #main-nav li ul li > a {max-width: 100% !important;margin:0 0 0 0; padding:0 0 0 0;}

  .nav li ul{ padding:0 20px;}

  #main-nav li.mega ul.sub-menu { min-height:0px;}

  #main-nav li ul ul{ margin:0 0 0 0; padding:0 0 0 25px;}

  .mega2 .sf-sub-indicator{ display:none;}

  div.sub,
  .nav > li > ul:after{ display:none !important;}

  .sf-arrows .sf-with-ul::after { right: 15px;}

  /* end mobile menu */


  body {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
    margin-top:0;
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }


  .onecol, .twocol, .threecol,.threecol_spec, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol,.fifthcol
  {
    width: auto;
    float: none !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .threecol{ min-height:0; border:none !important; padding:20px 0;}

  .fourcol{
    padding: 0 !important;
    max-width: 290px;
    float:none;
    margin:0 auto 30px auto;
  }

  .sixcol{
    padding: 0 !important;
    float:none;
    margin:0 auto 30px auto;
  }


  #content{
    padding-left:0;
    padding-right:0;
    margin-top:0;
  }

  #sidebar,.foocol,.foocol.last{float:none !important; margin:0 auto !important; padding:40px 0 !important; width:100% !important; max-width:305px !important; border: none !important;}

  .foocol{padding:5px 0 !important;}

  #copyright{ padding:0 5%;}

  .pagination{ margin-bottom:40px; height:35px;}



  .entryhead img,
  .blogger .item .imgwrap img,
  .entryhead iframe {max-width: 100% !important; float:none; margin:0 auto;}

  .imgwrap{ float:none !important; width:auto !important; max-width:100%; margin:0 auto !important; }

  .blogger.aq_row{padding:0 0;}
  .page #content div.page, .error404 #content div.page{  margin:0 0;}

  .blogger .item iframe{ max-height:320px;}

  .blogger div.post .entryhead img{ width:100% !important; max-width:100%; margin: 0 0 !important;}


  .flexinside .tmnf_icon,
  h2.block:before,
  h2.block:after,
  h2.widget:before,
  h2.widget:after,
  div.tooltip p:after,
  .hrline:after,
  .nav>li>ul:after,
  .sf-arrows .sf-with-ul::after,
  .sf-arrows .sf-with-ul::after,
  .hrline:after,
  h2.widget:after
  { display:none !important;}

  .imgwrap p.meta.counter{ background: none;}

  .woocommerce-page div.product div.summary {
    margin: 0 0 40px 0;
    width: 100%;
  }

  .scrollTo_top{ visibility:hidden; display:none}

  .tmnf-sc-quote.left,
  .tmnf-sc-quote.right{ width:100%; float:none; margin-left:0; margin-right:0}


  .contact-form .forms textarea,
  .contact-form .forms input.txt{ width:100%; float:none; margin-left:0; margin-right:0; padding-left:0; padding-right:0}

  .contact-form .forms label{ margin-bottom:10px}

  .contact-form .forms .buttons .submit,
  .contact-form .forms input#sendCopy{ margin-left:0;}


  .blocker,
  .homeblog,
  #content,
  #foliosidebar,
  #foliocontent{ width:100%;}

  #foliocontent,
  #foliosidebar .widgetable{ margin:0 0 !important;}

  #post-nav img,
  .flexinside p.teaser{ display:none;}

  .postauthor{ font-size:90%; line-height:1.5; padding:15px 15px;}


  h1.entry-title,
  h2.posttitle {font-size:26px !important; line-height:1.2 !important;}

  h2.block .maintitle{ padding:0 0;}

  h2.block{display:block;text-align:center;}

  .entry{ padding:20px 20px !important;}

  .widgetable {
    clear: both;
    display: block;
    float: none;
    margin: 0 0 !important;
    padding: 0;
  }

  .singleslider .flex-caption {
    font-size: 11px;
    padding: 0 10px;
  }


  .footerhead img{ max-width:100%;}


  .homeblog .item.classic-small .entryhead,
  .homeblog .item.classic-small .entryhead img{ width:100%;}

  ul.mpbox.isotopefolio { }

  ul.mpbox.isotopefolio li{ width:33% !important; max-height:310px;}

  ul.mpbox.isotopefolio.col4 li .imgwrap{max-height:150px;}

  ul.mpbox.isotopefolio.col3 li h3{ font-size:16px; line-height:1.4 !important;}

  ul.mpbox.isotopefolio.col3 li .imgwrap{max-height:160px;}

  ul.mpbox.isotopefolio li img{ margin:0 0;}

  /*ul.mpbox.isotopefolio li { width:100%; max-width:300px; float:none !important; margin:0 auto 30px auto !important; position:relative !important; top:auto !important; left:auto !important; transform:none !important; }*/

  ul.mpbox.isotopefolio li .meta,
  .slider-menu li a i{ display:none;}

  .mp-services h3{ font-size:14px !important;}

}

@media only screen and (max-width: 655px) {

  #titles,
  #header h1{ float:left;  width:70% !important;}

  .flexinside{ position:relative; width:100%; max-width:100%; top:auto; bottom: auto; padding-bottom:80px;}

  .slider-menu li{ padding: 8px 7px 4px 0 !important;float:left;margin: 0 5px 0 0; border: none !important; width:31%;text-align:center;}

  .widgetwrap, .blocker {padding: 30px 0 !important;}

  ul.mpbox.isotopefolio { height:auto !important; position:relative; width:100% !important;}
  ul.mpbox.isotopefolio li { width:100% !important; height:auto ; max-height:none !important; max-width:300px; float:none !important;  margin:0 auto 30px auto !important; position:relative !important; top:auto !important; left:auto !important; transform:none !important; -webkit-transform: none !important;}


  .homeblog .item.classic-small,
  .homeblog .item.classic-small:nth-child(2n),
  .homeblog_mini .item,
  .homeblog_mini .item:nth-child(3n){ width:100%; max-width:305px; float:none; margin:0 auto 30px auto !important; }

  .page h1.entry-title,
  .full-width h1.entry-title { margin-left: 0; text-align:center;}

  h1.folio-title{ text-align:center;}

  #portfolio-filter{ display:block; text-align:center;}

  #portfolio-filter ul {
    display: inline-block;
    float: none;
  }

  .text-action p {max-width: 100%;}

  .text-action a.actionbutton {
    margin:0 0 0 0!important;
    padding: 18px 30px;
    position: relative;
    right: auto;
    top: auto;
  }

  .folioslider .item_inn {padding: 20px 30px 40px;}

}


@media only screen and (max-width: 529px) {

  .blogger div.classic-small .entryhead {
    float: none;
    margin: 0;
    width: 100%;
  }

  #workinfo a.mainbutton,
  #workinfo .description.foliodate, #workinfo .description.foliocat, #workinfo .description.folioclient{ width:100%; max-width:100%;}

  .meta_full span.likes,
  .flexinside .meta,
  a.hoverstuff{ display:none;}

  .index_blogger .item p.meta_full.fr {float: left !important;}

  .page-header {padding: 20px 0 20px !important;}

  .page-header h1{ padding:0 20px;}

  h1.entry-title,
  h2.posttitle,
  h2.itemtitle,
  h1.folio-title,
  h2.block { font-size:22px !important; line-height:25px !important; margin-top:20px;}

  ul.related li { width:45%; height:220px;}

  .comment-form-author,
  .comment-form-email,
  .comment-form-url,
  #post-nav,
  .postauthor{ width:100%;}

  #respond textarea{ width:99.5%;}


  .flexwrap{ width:100% !important;}

  .blogger .item iframe, .media-big iframe { max-height: 220px;}

  .meta_full span{ float:left !important; margin-bottom:5px;}

  .blogger .format-quote {padding: 20px !important;}

  .loading .loading-inn{ min-height:180px;}

  .flex-direction-nav a{ top:100px;}

  .mainflex img{max-width:150% !important; width:150% !important; margin-left:-25% !important;margin-right:-25% !important;}

  .flexinside h1,
  .flexinside h2,
  .flexinside h3,
  .flexinside h4 {font-size: 15px !important; }

  h2.block {
    font-size: 16px !important;
    line-height: 16px !important;
    padding: 10px 10px 8px !important;
  }

  .flexinside{ padding-bottom:120px;}

  .slider-menu{ padding:0 3px;}

  .slider-menu li{width:48%;}

  .container_alt{ overflow:hidden;}

  #content ul.products li.product, #content ul.products li.product {
    width: 98% !important;
    margin:0 0 40px 0 !important;
  }

}

@media only screen and (max-width: 385px) {

  #titles,
  #header h1{width:50% !important;}

  #header #titles img{ padding-top:15px; padding-bottom:15px; }

}
