.mp-testimonials .testi-content:before {
  border-color: transparent transparent transparent
}
.sf-arrows .sf-with-ul::after {
  border-color: #999999 transparent transparent;
}

.nav>li>ul:after {
  border-color: #999999 transparent
}

#navigation {
  padding-left: 300px
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs {
  border-color: #ededed !important
}
#header_inn {
  min-height: 80px!important;
}

#navigation {
  padding-left: 0px!important;
}

.folio .item_inn {
  background-color: #c4af95!important;
}

.tranz2 a {
  color: #fff!important;
}
.woocommerce-product-gallery {
  opacity: 1 !important;
}
.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
body {
  font-family: Poppins;
  line-height: 28px;
  font-weight: 500;
  font-style: normal;
  color: #222;
  font-size: 18px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading body
{
  opacity: 0;
}

.ie.wf-loading body
{
  visibility: hidden;
}

body,
h2.widget span {
  background-color: #f5f5f5;
}

.ghost,
.widgetable ul.menu>li,
.widgetable ul.product-categories,
.imgwrap.ghost,
ul#serinfo-nav,
.page-numbers,
.nav_item a,
#sidebar .tab-post,
input,
textarea,
input,
select {
  background-color: #ffffff;
}

a {
  color: #222;
}

a:hover {
  color: #595959;
}

a:active {
  color: #000;
}

.p-border,
.entry h2,
.meta,
h3#reply-title,
.tagcloud a,
.page-numbers,
input,
textarea,
select,
.products,
.nav_item a {
  border-color: #ededed;
}

h2.block:before,
h2.block:after,
h2.widget:before,
h2.widget:after {
  border-color: #cccccc;
}

#main-nav a {
  font-family: "Playfair Display";
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  color: #222;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading #main-nav a
{
  opacity: 0;
}

.ie.wf-loading #main-nav a
{
  visibility: hidden;
}

#header_inn,
.nav li ul,
ul.social-menu li a {
  background-color: #ffffff;
}

#header h1 a,
.head-ghost p,
.head-ghost p a,
ul.social-menu li a {
  color: #000000;
}

.current-menu-item>a,
#main-nav .current-menu-item>a,
#header a.logo:hover,
#main-nav>li>a:hover {
  color: #606060;
}

#titles {
  width: 300px;
}

#titles,
#navigation,
#header ul.social-menu {
  /*margin-top: 25px;*/
  /*margin-bottom: 25px;*/
}

#titles img {
  padding-right: 30px;
  padding-left: 30px;
}

#navigation {
  margin-top: 32px;
}

.nav li>ul,
.nav li ul li>a,
.nav li ul ul {
  border-color: #999999;
}

#footer,
h2.description {
  font-family: Poppins;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #636363;
  font-size: 25px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading #footer,
h2.description
{
  opacity: 0;
}

.ie.wf-loading #footer,
h2.description
{
  visibility: hidden;
}

#footer,
.curtain,
#footer .searchform input.s,
.sticky,
.sticky .item_inn.ghost,
#footer h2.widget span {
  background-color: #1e1e1e;
}

#footer a,
#footer h3,
#footer #serinfo-nav li a,
.curtain,
.curtain a,
#footer .meta,
#footer .meta a,
#footer .searchform input.s,
.sticky {
  color: #cccccc;
}

#footer a:hover,
.sticky a,
.sticky .meta,
.sticky .meta a,
#footer #serinfo-nav li.current a,
#footer .foocol h2 {
  color: #ffffff;
}

.footer-top,
#footer .foocol,
#copyright,
#footer .tagcloud a,
#footer .p-border,
.curtain ul.social-menu li a,
#footer .searchform input.s,
#footer .foocol ul li,
#footer ul.social-menu li a {
  border-color: #262626;
}

h1 {
  font-family: "Playfair Display";
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  color: #222;
  font-size: 40px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h1
{
  opacity: 0;
}

.ie.wf-loading h1
{
  visibility: hidden;
}

.flexinside h1,
.flexinside h2,
h1.entry-title,
h2.posttitle {
  font-family: Tillana;
  line-height: 42px;
  font-weight: 600;
  font-style: normal;
  color: #222;
  font-size: 40px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading .flexinside h1,
.flexinside h2,
h1.entry-title,
h2.posttitle
{
  opacity: 0;
}

.ie.wf-loading .flexinside h1,
.flexinside h2,
h1.entry-title,
h2.posttitle
{
  visibility: hidden;
}

h2,
a.morebutton,
.widgetable ul.menu>li>a,
#curtain .searchform input.s {
  font-family: ABeeZee;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  color: #222;
  font-size: 30px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h2,
.widgetable ul.menu>li>a,
#curtain .searchform input.s
{
  opacity: 0;
}

.ie.wf-loading h2,
.widgetable ul.menu>li>a,
#curtain .searchform input.s
{
  visibility: hidden;
}

h2.block span.subtitle,
.flexinside h3 {
  font-family: Gudea;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #7c6d5e;
  font-size: 30px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h2.block span.subtitle,
.flexinside h3
{
  opacity: 0;
}

.ie.wf-loading h2.block span.subtitle,
.flexinside h3
{
  visibility: hidden;
}

h3,
.flexcarousel h2,
.foliohead .description {
  font-family: Poppins;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
  color: #222;
  font-size: 25px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h3,
.flexcarousel h2,
.foliohead .description
{
  opacity: 0;
}

.ie.wf-loading h3,
.flexcarousel h2,
.foliohead .description
{
  visibility: hidden;
}

h4 {
  font-family: Poppins;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #222;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h4 {
  opacity: 0;
}

.ie.wf-loading h4{
  visibility: hidden;
}

h5,
#portfolio-filter a,
a.mainbutton,
.slider-menu a,
#serinfo-nav li a,
#submit,
a.comment-reply-link,
#foliosidebar {
  font-family: "Abril Fatface";
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: #222;
  font-size: 25px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h5,
#portfolio-filter a,
a.mainbutton,
.slider-menu a,
#serinfo-nav li a,
#submit,
a.comment-reply-link,
#foliosidebar
{
  /*opacity: 0;*/
}

.ie.wf-loading h5,
#portfolio-filter a,
a.mainbutton,
.slider-menu a,
#serinfo-nav li a,
#submit,
a.comment-reply-link,
#foliosidebar
{
  /*visibility: hidden;*/
}

h6,
.widgetable .ad300 h2,
h2.adblock {
  font-family: "Open Sans";
  line-height: 25px;
  font-weight: 600;
  font-style: normal;
  color: #222;
  font-size: 30px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading h6,
.widgetable .ad300 h2,
h2.adblock
{
  opacity: 0;
}

.ie.wf-loading h6,
.widgetable .ad300 h2,
h2.adblock
{
  visibility: hidden;
}

.meta,
.meta_more,
.meta a,
.entry p.meta {
  font-family: "Mukta Malar";
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  color: #878787;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.wf-loading .meta,
.meta_more,
.meta a,
.entry p.meta
{
  /*opacity: 0;*/
}

.ie.wf-loading .meta,
.meta_more,
.meta a,
.entry p.meta
{
  /*visibility: hidden;*/
}

.meta.cat a,
.searchSubmit,
.ribbon,
a#navtrigger,
.widgetable ul.menu>li.current-menu-item>a,
.flex-direction-nav a,
li.current a,
.page-numbers.current,
a.mainbutton,
a.morebutton,
.blogger .format-quote,
a.hoverstuff,
.products li .button.add_to_cart_button,
span.overrating,
a.mainbutton,
#submit,
#comments .navigation a,
.tagssingle a,
.contact-form .submit,
.wpcf7-submit,
a.comment-reply-link,
.wrapper .wp-review-show-total {
  background-color: #c4af95;
}

.likes a,
.flexinside a,
.slider-menu li a i {
  color: #c4af95;
}

.meta_more a,
.entry blockquote,
.products li .button.add_to_cart_button,
.flexinside h1,
h2.archiv,
#main-nav>li.current-menu-item>a,
#main-nav>li>a:hover {
  border-color: #c4af95;
}

.meta.cat a,
.searchSubmit,
a.hoverstuff,
.ribbon,
.ribbon a,
a#navtrigger,
.widgetable ul.menu>li.current-menu-item>a,
.flex-direction-nav a,
#hometab li.current a,
a.mainbutton,
.blogger .format-quote,
.blogger .format-quote a,
.products li .button.add_to_cart_button,
a.mainbutton,
a.morebutton,
#foliosidebar a.mainbutton,
#submit,
#comments .navigation a,
.tagssingle a,
.contact-form .submit,
.wpcf7-submit,
a.comment-reply-link,
.wrapper .wp-review-show-total,
#footer a.comment-reply-link {
  color: #ffffff;
}

.searchSubmit:hover,
a.hoverstuff:hover,
.ribbon:hover,
a.mainbutton:hover,
a.morebutton:hover,
a#navtrigger:hover,
a#navtrigger.active {
  background-color: #2c8e92;
}

#header a.searchSubmit:hover,
.searchSubmit:hover,
.ribbon:hover,
a.hoverstuff:hover,
.ribbon a:hover,
a.mainbutton:hover,
a.morebutton:hover,
a#navtrigger:hover,
a#navtrigger.active {
  color: #ffffff;
}

.page-header,
.spec-block,
#main-nav>li.special,
.tmnf_icon,
.hrline:after,
#post-nav>div,
.flexcarousel .imgwrap {
  background-color: #000000;
}

.spec-block h2,
.page-header h1,
.spec-block p,
.spec-block .meta,
.page-header .meta,
.page-header p,
#post-nav>div {
  color: #ffffff;
}

.spec-block a,
#main-nav>li.special>a,
.tmnf_icon,
.page-header a,
#post-nav>div a {
  color: #cccccc;
}

.spec-block ul.featured li {
  border-color: #333333;
}
